@model IEnumerable<CrimeTrackingSystem_CTS_.Models.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gallery-bg">
    <h1>
        Gallery
    </h1>
</div>
<div class="cts-gallery-container">
    <div class="cts-gallery">
        <h4>Chandrayan-3 </h4>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 gallery-item-container">
            @foreach (var item in Model)
            {

                if (item.EventTitle == "Chandrayan 3")
                {
                    <div class="col gallery-item">
                        <a href="@Url.Content(item.EventImage)" target="_blank"><img src="@Url.Content(item.EventImage)" alt="event image" /></a>
                    </div>
                }
            }
        </div>
    </div>

    <div class="cts-gallery">
        <h4>Republic Day 2024</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 gallery-item-container">
            @foreach (var item in Model)
            {

                if (item.EventTitle == "Republic Day 2024")
                {
                    <div class="col gallery-item">
                        <a href="@Url.Content(item.EventImage)" target="_blank">
                            <img src="@Url.Content(item.EventImage)" alt="event image" />
                        </a>
                    </div>
                }
            }
        </div>
    </div>

</div>

