
@{
    ViewBag.AdminTitle = "Status";
    ViewBag.PageTitle = "Status";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="AdminStatus">
    <div><a href="@Url.Action("UpdateCrimeComplainStatus","Admin")">Crime Complain Status</a></div>
    <div><a href="#">General Complain Status</a></div>
    <div><a href="#">Missing Person Status</a></div>
    <div><a href="#">Missing Valuable Status</a></div>
</div>

